{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'index.css' %}">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<!-- MathJax-->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<!-- My CSS and Javascript file -->
	<link rel="stylesheet" href="{% static 'grafici.css' %}">
	<script src="{% static 'grafici.js' %}" defer data-k="{{ k }}" data-mu_k="{{ mu_k }}"
		data-c="{{ c }}" data-myLambda="{{ myLambda }}" data-mu="{{ mu }}" data-v="{{ v }}"
		data-rho="{{ rho }}" data-p_0="{{ p_0 }}" data-p_k="{{ p_k }}" data-p_queue="{{ p_queue }}"
		data-l_q="{{ l_q }}" data-l_s="{{ l_s }}" data-w_q="{{ w_q }}" data-w_s="{{ w_s }}"></script>

	<!-- Add font-awasome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Add Chart-js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- Adding favicon -->
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

	<title>Progetto M/M/C</title>
</head>
<body>
	<nav>
		<a href="/">Home</a></li>
		<a href="grafici">Grafici</a></li>
		<a href="#">Relazione</a>
		<span class="border">
			<a href="https://github.com/acuti03/progetto-reti/" target="_blank"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
		</span>
	</nav>
	<hr>
	<div class="container">
		<table class="table bdr">
			<thead class="bg-success">
			  <tr>
				<th scope="col">#</th>
				<th scope="col">Lambda</th>
				<th scope="col">Mu</th>
				<th scope="col">C</th>
				<th scope="col">Plot</th>
				<th scope="col">Close</th>
				<th scope="col">Delete</th>
			  </tr>
			</thead>
			<tbody>
			{% for i in data %}
				<tr>
					<th scope="row">{{ i.id }}</th>
					<td>{{ i.myLambda }}</td>
					<td>{{ i.mu }}</td>
					<td>{{ i.c }}</td>
					<td>
						<button class="btn btn-primary" onclick="plot(`{{ i.k }}`, `{{ i.p_k }}`)">
							<i class="fa-solid fa-chart-simple"></i>
						</button>
					</td>
					<td>
						<button class="btn btn-warning" onclick="closePlot()">
							<i class="fa-solid fa-circle-xmark"></i>
						</button>
					</td>
					<td>
						<a href="delete/{{ i.id }}">
							<button class="btn btn-danger">
								<i class="fa-solid fa-trash"></i>
							</button>
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="container">
		<canvas id="queueChart"></canvas>
	</div>
</body>
</html>