<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script>
		MathJax = {
			tex: {
				tags: 'ams'  // should be 'ams', 'none', or 'all'
			}
		};
	</script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>

	<title>Progetto</title>
	<style>
		input[type=number] {
			-moz-appearance: textfield;
		}
		*{
			font-family: 'JetBrains Mono', monospace;
		}
		html, body{
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		main{
			text-align: center;
			padding: 10px;
			border-radius: 8px;
		}
		main .btn{
			margin-bottom: 10px;
			margin-top: 20px;
			border-radius: 8px;
		}
		span, input, output{
			border-radius: 8px;
		}
		main h2{
			margin-top: 10px;
		}
		.row{
			margin: auto;
		}
		.row span{
			height: 38px;
			width: 30px;
			justify-content: center;
		}
	</style>
</head>

<body>
	<main class="shadow">
		<h2>M/M/C</h2>
		<hr>
		<div class="row">
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$\lambda$$</span>
				<input type="number" class="form-control" placeholder="Insert your lambda" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
			
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$\mu$$</span>
				<input type="number" class="form-control" placeholder="Insert your Mu" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row">
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$c$$</span>
				<input type="number" class="form-control" placeholder="Insert your c" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
			
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$\rho$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row">
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$\mathbb{P}_k$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1"></output>
			</div>
			
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$\mathbb{P}_0$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row">
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$L_s$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
			
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$L_q$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row">
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$W_s$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
			
			<div class="col input-group mb-2">
				<span class="input-group-text" id="basic-addon1">$$W_q$$</span>
				<output class="form-control" aria-label="Lambda" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-success">Calcola</button>
		</div>
	</main>
</body>

</html>