{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<!-- MathJax-->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>

	<!-- My CSS and Javascript file -->
	<link rel="stylesheet" href="{% static 'index.css' %}">
	<script src="{% static 'script.js' %}" defer data-k="{{ k }}" data-mu_k="{{ mu_k }}" 
		data-rho="{{ rho }}" data-p_0="{{ p_0 }}" data-p_k="{{ p_k }}" data-p_queue="{{ p_queue }}"
		data-l_q="{{ l_q }}" data-l_s="{{ l_s }}" data-w_q="{{ w_q }}"
		data-w_s="{{ w_s }}"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Adding favicon -->
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

	<title>Progetto M/M/C</title>
</head>

<body>
	<nav>
		<a href="#">Home</a></li>
		<a href="#">Grafici</a></li>
		<a href="#">Relazione</a>
		<span class="border">
			<a href="#"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
		</span>
	</nav>
	<hr>
	<main>
		<div class="myConatiner shadow">
			<form id="myform" method="POST" action="">{% csrf_token %}
				<h2>M/M/C</h2>
				<hr>
				<div class="row">
					<div class="col input-group mb-2">
						<span class="input-group-text" id="basic-addon1">$$\lambda$$</span>
						<input type="number" step="0.01" class="form-control" name="myLambda" placeholder="Insert your lambda" required>
					</div>
					
					<div class="col input-group mb-2">
						<span class="input-group-text" id="basic-addon1">$$\mu$$</span>
						<input type="number" step="0.01" class="form-control" name="mu" placeholder="Insert your Mu" required>
					</div>
				</div>
				<div class="row">
					<div class="col input-group mb-2">
						<span class="input-group-text" id="basic-addon1">$$c$$</span>
						<input type="number" class="form-control" name="c" placeholder="Insert your c" required>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$k$$</span>
					<output class="form-control" id="k"></output>
				</div>

				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$\mu_k$$</span>
					<output class="form-control" id="mu_k"></output>
				</div>
			</div>
			<div class="row">
				<div class="col input-group mb-2" id="basic-addon1">
					<span class="input-group-text" id="basic-addon1">$$\rho$$</span>
					<output class="form-control" id="rho"></output>
				</div>

				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$\mathbb{P}_q$$</span>
					<output class="form-control" id="p_queue"></output>
				</div>
			</div>
			<div class="row">
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$\mathbb{P}_k$$</span>
					<output class="form-control" id="p_k"></output>
				</div>
					
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$\mathbb{P}_0$$</span>
					<output class="form-control" id="p_0"></output>
				</div>
			</div>
			<div class="row">
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$L_s$$</span>
					<output class="form-control" id="l_s"></output>
				</div>

				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$L_q$$</span>
					<output class="form-control" id="l_q"></output>
				</div>
			</div>
			<div class="row">
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$W_s$$</span>
					<output class="form-control" id="w_s"></output>
				</div>
				
				<div class="col input-group mb-2">
					<span class="input-group-text" id="basic-addon1">$$W_q$$</span>
					<output class="form-control" id="w_q"></output>
				</div>
			</div>
			<div class="row">
				<button type="submit" form="myform" class="col btn btn-primary">Carica</button>
			</div>
			<div class="row">
				<button type="button" onclick="main.printResult.call(main)" id="print" class="col btn btn-success">Calcola</button>
				<button type="button" onclick="main.clearContent.call(main)" id="cancel" class="col btn btn-danger">Stop</button>
			</div>
		</div>
	</main>
	<h1>{{ P_0 }}</h1>
</body>

</html>